# venv
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.egg
